# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment & Virtual environment
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database
*.db
*.sqlite3
instance/

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
